/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .container{
        width: 970px;
    }
    .banner-content h2 {
        font-size: 42px !important;
    }
    .banner-content span, .banner-content a {
        font-size: 15px !important;
    }
    .banner-content p {
        font-size: 15px !important;
    }
    .global-project {
        bottom: 30px !important;
        width: 185px !important;
        height: 115px !important;
    }
    .service-part-1-details h5 {
        font-size: 22px !important;
        line-height: 30px !important;
    }
    .service-part-1-details span {
        font-size: 12px !important;
    }
    .service-part-1-details p {
        font-size: 12px !important;
        line-height: 18px !important;
    }
    .service-part-1-details .btn.btn-primary {
        font-size: 12px;
    }
    .global-project span {
        font-size: 45px !important;
        left: 25% !important;
        top: 7% !important;
    }
    .services-details h5 {
        font-size: 16px !important;
    }
    .appointment span {
        font-size: 12px !important;
    }
    .appointment p {
        font-size: 12px !important;
    }
    .services-bottom p {
        font-size: 15px !important;
    }
    .btn.btn-primary.btn-lg {
        font-size: 13px !important;
    }
    .company-content h5 {
        font-size: 15px !important;
    }
    .company-content {
        padding: 7px 27px !important;
    }
    .company-content p {
        font-size: 12px !important;
        margin-bottom: 0 !important;
    }
    .content h5 {
        font-size: 12px !important;
        font-weight: bold !important;
    }
    .content p {
        font-size: 10px !important;
    }
    .content span {
        font-size: 12px !important;
    }
    .banner-content2 h5, .banner-content3 h5 {
        margin-top: 118px !important;
    }
    .banner-content3 ul li.round1::before {
        left: 67px !important;
    }
    .banner-content3 ul li {
        font-size: 15px !important;
    }
    .banner-content3 ul li.round2::before {
        left: 85px !important;
    }
    .banner-content3 ul li.round3::before {
        left: 60px !important;
    }
}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container{
        width: 750px;
    }
    .header-top {
        text-align: center;
        padding: 0 !important;
    }
    .header-top-left a span {
        font-size: 10px !important;
    }
    .card_0::before {
        right: 322px !important;
    }
    .nav-item.padding-left::before {
        display: none;
    }
    .header-top-right.text-end {
        text-align: center !important;
    }
    .header-top-right span {
        font-size: 10px !important;
    }
   .header-bottom-left {
        padding-bottom: 8px !important;
    }
    .header-botom-right{
        display: none !important;
    }
    .navbar-toggler {
        position: absolute !important;
        right: 0 !important;
        top: 13px !important;
    }
    .banner-video a {
        top: 63% !important;
    }
    .banner-video a i {
        font-size: 45px !important;
    }
    .nav-item {
        text-align: center;
    }
    .header-bottom ul li a.center::before {
        left: 330px !important;
    }
    .header-bottom ul li a.dot::before {
        left: 330px !important;
    }
    .dropdown-menu.show {
        display: inline-block;
    }
    .banner-content span, .banner-content a,.banner-content p{
        font-size: 12px !important;
    }
    .banner-content h2 {
        font-size: 30px !important;
    }
    .process-breadcum-heading h5,.our-services-breadcum h5,.future-plan h5,.project-breadcum h5,.contact-form h5 {
        font-size: 25px !important;
        line-height: 30px !important;
    }
    .process-breadcum-heading span,.process-breadcum-details  p, .our-services-breadcum span,.future-plan p,.future-plan span,.project-breadcum span,.contact-form p{
        font-size: 13px !important;
        line-height: 21px !important;
    }
    .single-our-service p {
        font-size: 12px !important;
        line-height: 22px !important;
    }
    .service-part-1-details {
        padding: 0px !important;
    }
    .service-part-1-details h5 {
        font-size: 18px !important;
        line-height: 26px !important;
    }
    .service-part-1-details span {
        font-size: 12px !important;
        line-height: 0px !important;
    }
    .service-part-1-details p,.our-services-breadcum p {
        font-size: 12px !important;
        line-height: 15px !important;
    }
    .service-part-1-details .btn.btn-primary {
        font-size: 12px;
    }
    .global-project {
        bottom: 120px !important;
        width: 142px !important;
        height: 93px !important;
    }
    .global-project .owl-prev,.global-project .owl-next {
        top: 25px !important;
    }
    .global-project span {
        font-size: 36px !important;
        left: 21% !important;
        top: 7% !important;
    }
    .global-project p {
        font-size: 13px !important;
        left: 12% !important;
    }
    .services-breadcum span {
        font-size: 15px !important;
    }
    .services-breadcum h5 {
        font-size: 22px !important;
        line-height: 16px !important;
    }
    .services-breadcum p, .services-details p {
        font-size: 11px !important;
        line-height: 22px !important;
    }
    .appointment span {
        font-size: 9px !important;
    }
    .appointment p, .services-bottom p {
        font-size: 10px !important;
    }
    .appointment .btn.btn-primary.btn-lg {
        font-size: 8px !important;
    }
    .services-details h5 {
        font-size: 17px !important;
        font-weight: bold !important;
    }
    .bottom-paragragh p::before {
        bottom: 14px !important;
        left: -50px !important;
    }
    .single-our-service h5 {
        font-size: 16px !important;
    }
    .process-breadcum-details.line a {
        font-size: 10px !important;
    }
    .company-content h5 {
        font-size: 15px !important;
    }
    .company-content {
        padding: 7px 27px !important;
    }
    .company-content p {
        font-size: 12px !important;
        margin-bottom: 0 !important;
    }
    .company-content {
        height: 100% !important;
    }
    .contract-breadcum h5 {
        font-size: 25px !important;
    }
    .contract-breadcum span,.contract-breadcum p{
        font-size: 13px !important;
        line-height: 24px !important;
    }
    .appointment.font-size .btn.btn-primary.btn-lg {
        font-size: 15px !important;
    }
    .single-plan-img {
        padding-top: 90px !important;
    }
    .contact-form-box .btn.btn-primary.btn-lg {
        font-size: 13px !important;
    }
    .form p, .form span {
        font-size: 10px !important;
    }
    .icon-center{
        text-align: center;
    }
    .card-body.font-size span {
        font-size: 10px !important;
    }
    .card-body.font-size h5 {
        font-size: 15px !important;
    }
    .card-body.card-body.font-size {
        padding: 0px 7px !important;
    }
    .card-body p {
        font-size: 12px !important;
        line-height: 19px !important;
    }
    .single-sponsor {
        padding: 5px !important;
    }
    .slide .btn {
        padding: 5px !important;
        font-size: 15px !important;
    }
    .banner2, .banner3 {
        height: 80% !important;
    }
    .banner-content2 h5, .banner-content3 h5 {
        font-size: 30px !important;
    }
    .call i {
        font-size: 30px !important;
    }
    .call p {
        font-size: 13px !important;
    }
    .call h5 {
        font-size: 18px !important;
    }
    .call span {
        font-size: 13px !important;
    }
   .blog-details h5{
        font-size: 30px !important;
    }
    .news-post h5,.blog-form h5 {
        font-size: 18px !important;
        margin-bottom: 0 !important;
    }
    .banner-content2 h5::before {
        left: 56px !important;
    }
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .container-fluid{
        width: 320;
    }
    .header-top {
       display: none !important;
    }
    .card_0::before {
        display: none;
    }
    .nav-item.padding-left::before {
        display: none;
    }
   .header-bottom-left {
        padding-bottom: 8px !important;
    }
    .banner-video a i {
        font-size: 45px !important;
    }
    .nav-item {
        text-align: center;
    }
    .header-bottom ul li a.center::before {
       display: none;
    }
    .header-bottom ul li a.dot::before {
        display: none;
    }
    .header-botom-right{
        display: none;
    }
    .navbar-toggler {
        position: absolute !important;
        right: 0 !important;
        top: 13px !important;
    }
    .dropdown-menu.show {
        display: inline-block;
    }
    .banner-content span {
        font-size: 10px !important;
    }
    .banner-content h2 {
        font-size: 22px !important;
        width: 300px !important;
    }
    .banner-content p {
       display: none !important;
    }
    .slide .btn {
        padding: 5px !important;
        font-size: 10px !important;
    }
    .carousel-control-prev-icon,.carousel-control-next-icon{
        display: none ;
    }
    .process-breadcum-heading,.process-breadcum-details{
        text-align: center;
    }
    .process-breadcum-heading h5,.our-services-breadcum h5,.future-plan h5,.project-breadcum h5,.contact-form h5 {
        font-size: 21px !important;
        line-height: 30px !important;
    }
    .process-breadcum-heading span,.process-breadcum-details  p,.our-services-breadcum span,.future-plan p,.future-plan span,.project-breadcum span,.contact-form p{
        font-size: 11px !important;
        line-height: 21px !important;
    }
    .single-our-service p {
        font-size: 10px !important;
        line-height: 18px !important;
    }
    .single-our-service h5 {
        font-size: 14px !important;
        padding-top: 10px !important;
    }
    .single-box h5 {
        font-size: 18px !important;
    }
    .single-box p {
        font-size: 12px !important;
    }
    .process-breadcum-details::before{
        display: none;
    }
    .service-part-1-details {
        padding: 0px !important;
    }
    .service-part-1-details h5 {
        font-size: 18px !important;
        line-height: 26px !important;
    }
    .service-part-1-details span {
        font-size: 12px !important;
        line-height: 0px !important;
    }
    .service-part-1-details p {
        font-size: 12px !important;
        line-height: 15px !important;
    }
    .service-part-1-details .btn.btn-primary {
        font-size: 12px;
    }
    .global-project {
        top: 0px !important;
        width: 142px !important;
        height: 93px !important;
        left: 41% !important;
    }
    .global-project2{
        top: 0px !important;
        width: 142px !important;
        height: 70px !important;
        left: 41% !important;
    }
    .global-project2 span {
        font-size: 36px !important;
        left: 40% !important;
        top: 25% !important;
    }
    .global-project .owl-prev,.global-project .owl-next {
        top: 25px !important;
    }
    .global-project span {
        font-size: 36px !important;
        left: 21% !important;
        top: 7% !important;
    }
    .global-project p {
        font-size: 13px !important;
        left: 12% !important;
    }
    .sign-details {
        text-align: center !important;
    }
    .sign-details img {
        padding: 0px !important;
    }
    .services-breadcum span {
        font-size: 15px !important;
    }
    .services-breadcum h5 {
        font-size: 22px !important;
        line-height: 25px !important;
    }
    .services-breadcum p, .services-details p {
        font-size: 11px !important;
        line-height: 22px !important;
    }
    .single-our-service a, .card-body a {
        font-size: 12px !important;
    }
    .single-our-service a::before {
        width: 73px !important;
    }
    .single-our-service {
        text-align: center !important;
    }
    .appointment span {
        font-size: 9px !important;
    }
    .appointment p, .services-bottom p {
        font-size: 10px !important;
    }
    .services-details h5 {
        font-size: 17px !important;
        font-weight: bold !important;
    }
    .single-services {
        text-align: center !important;
    }
    .services-bottom {
        padding: 20px 10px !important;
        text-align: center !important;
    }
    .bottom-paragragh p::before {
        display: none;
    }
    .process-breadcum-details.line a {
        font-size: 10px !important;
    }
    .company-content h5 {
        font-size: 18px !important;
    }
    .company-content {
        padding: 50px 27px !important;
    }
    .company-content p {
        font-size: 12px !important;
        margin-bottom: 0 !important;
    }
    .company-content {
        height: 100% !important;
        left: 245px !important;
    }
    .contract-breadcum h5{
        font-size: 21px !important;
    }
    .contract-breadcum span,.contract-breadcum p{
        font-size: 11px !important;
        line-height: 24px !important;
    }
    .future-plan{
        text-align: center !important;
    }
    .client{
        text-align: center !important;
    }
    .sign-details img {
        width: auto !important;
    }
    .form{
        margin-top: 0px !important;
        padding: 28px !important;
    }
    .icon-center{
        text-align: center;
    }
    .display {
       display: none;
    }
    .content-center{
        text-align: center !important;
    }
    .card-img::before {
        display: none !important;
    }
    .form{
        margin-top: 0 !important;
    }
    .single-contact-details p {
        font-size: 11px !important;
    }
    .footer-details .btn.btn-primary.btn-lg {
        font-size: 11px !important;
        padding: 15px 26px !important;
        margin-bottom: 10px !important;
    }
    .footer-details .btn.btn-primary {
        padding: 15px 15px !important;
        margin-right: 0 !important;
    }
    .footer-details ul li a, .footer-details p {
        font-size: 13px !important;
        line-height: 20px !important;
    }
    .single-sponsor {
        padding: 0px !important;
    }
    .slide.btn {
        padding: 5px !important;
        font-size: 15px !important;
    }
    .company-content {
        height: 100% !important;
        left: 537px !important;
    }
}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container-fluid{
        width: 450;
    }
    .header-top {
        display: none !important;
     }
     .card_0::before {
         display: none;
     }
     .nav-item.padding-left::before {
         display: none;
     }
    .header-bottom-left {
         padding-bottom: 8px !important;
     }
     .banner-video a i {
        font-size: 45px !important;
    }
     .nav-item {
         text-align: center;
     }
     .header-bottom ul li a.center::before {
        display: none;
     }
     .header-bottom ul li a.dot::before {
         display: none;
     }
     .header-botom-right{
        display: none !important;
    }
    .navbar-toggler{
        position: absolute !important;
        right: 0 !important;
        top: 13px !important;
    }
     .dropdown-menu.show {
         display: inline-block;
     }
    .banner-content span {
        font-size: 10px !important;
    }
    .banner-content h2 {
        font-size: 22px !important;
        width: 300px !important;
    }
    .banner-content p {
       display: none !important;
    }
    .carousel-control-prev-icon,.carousel-control-next-icon{
        display: none ;
    }
    .process-breadcum-heading h5 ,.our-services-breadcum h5,.future-plan h5,.project-breadcum h5,.contact-form h5{
        font-size: 21px !important;
        line-height: 30px !important;
    }
    .process-breadcum-heading span,.process-breadcum-details  p,.our-services-breadcum span,.future-plan span,.future-plan p,.project-breadcum p,.contact-form p{
        font-size: 11px !important;
        line-height: 21px !important;
    }
    .single-our-service p {
        font-size: 10px !important;
        line-height: 18px !important;
    }
    .single-our-service h5 {
        font-size: 14px !important;
        padding-top: 10px !important;
    }
    .single-our-service a, .card-body a {
        font-size: 12px !important;
    }
    .single-our-service a::before {
        width: 73px !important;
    }
    .single-our-service {
        text-align: center !important;
    }
    .single-box h5 {
        font-size: 18px !important;
    }
    .single-box p {
        font-size: 12px !important;
    }
    .process-breadcum-details::before{
        display: none;
    }
    .process-breadcum-heading,.process-breadcum-details{
        text-align: center;
    }
    .service-part-1-details {
        padding: 0px !important;
    }
    .service-part-1-details h5 {
        font-size: 18px !important;
        line-height: 26px !important;
    }
    .service-part-1-details span {
        font-size: 12px !important;
        line-height: 0px !important;
    }
    .service-part-1-details p {
        font-size: 12px !important;
        line-height: 15px !important;
    }
    .service-part-1-details .btn.btn-primary {
        font-size: 12px;
    }
    .global-project {
        top: 0px !important;
        width: 142px !important;
        height: 93px !important;
        left: 41% !important;
    }
    .global-project2{
        top: 0px !important;
        width: 142px !important;
        height: 70px !important;
        left: 41% !important;
    }
    .global-project .owl-prev,.global-project .owl-next,.global-project2 .owl-prev,.global-project2 .owl-next {
        top: 25px !important;
    }
    .global-project span {
        font-size: 36px !important;
        left: 21% !important;
        top: 7% !important;
    }
    .global-project2 span {
        font-size: 36px !important;
        left: 40% !important;
        top: 25% !important;
    }
    .global-project2 .owl-dot{
        display: none;
    }
    .global-project p {
        font-size: 13px !important;
        left: 12% !important;
    }
    .sign-details {
        text-align: center !important;
    }
    .sign-details img {
        padding: 0px !important;
    }
    .services-breadcum span {
        font-size: 15px !important;
    }
    .services-breadcum h5 {
        font-size: 22px !important;
        line-height: 25px !important;
    }
    .services-breadcum p, .services-details p {
        font-size: 11px !important;
        line-height: 22px !important;
    }
    .appointment span {
        font-size: 9px !important;
    }
    .appointment p, .services-bottom p {
        font-size: 10px !important;
    }
    .form .btn.btn-primary.btn-lg ,.appointment .btn.btn-primary.btn-lg{
        font-size: 15px !important;
    }
    .services-details h5 {
        font-size: 17px !important;
        font-weight: bold !important;
    }
    .single-services {
        text-align: center !important;
    }
    .services-bottom {
        padding: 20px 10px !important;
        text-align: center !important;
    }
    .bottom-paragragh p::before {
       display: none;
    }
    .company-content h5 {
        font-size: 18px !important;
    }
    .company-content {
        padding: 50px 27px !important;
    }
    .company-content p {
        font-size: 12px !important;
        margin-bottom: 0 !important;
    }
    .company-content {
        height: 100% !important;
        left: 245px !important;
    }
    .contract-breadcum h5,.future-plan h5 {
        font-size: 21px !important;
    }
    .contract-breadcum span,.contract-breadcum p{
        font-size: 11px !important;
        line-height: 24px !important;
    }
    .company-content {
        height: 100% !important;
        left: 334px !important;
    }
    .company-img:hover .company-content{
        left: 0 !important;
    }
    .future-plan{
        text-align: center !important;
    }
    .sign-details img {
        width: auto !important;
    }
    .form{
        margin-top: 0px !important;
        padding: 28px !important;
    }
    .icon-center{
        text-align: center;
    }
    .display {
       display: none;
    }
    .content-center{
        text-align: center !important;
    }
    .card-img::before {
        display: none !important;
    }
    .form{
        margin-top: 0 !important;
    }
    .single-contact-details p {
        font-size: 11px !important;
    }
    .footer-details .btn.btn-primary.btn-lg {
        font-size: 11px !important;
        padding: 15px 26px !important;
        margin-bottom: 10px !important;
    }
    .footer-details .btn.btn-primary {
        padding: 15px 15px !important;
        margin-right: 0 !important;
    }
    .footer-details ul li a, .footer-details p {
        font-size: 13px !important;
        line-height: 20px !important;
    }
    .single-sponsor {
        padding: 0px !important;
    }
    .slide .btn {
        padding: 5px !important;
        font-size: 10px !important;
    }
    .banner-content2 h5, .banner-content3 h5 {
        font-size: 25px !important;
    }
    .banner-content3 ul li {
        font-size: 12px !important;
        padding-left: 0 !important;
    }
    .banner-content3 ul {
        padding-left: 0 !important;
    }
    .banner-content3 ul li.round1::before,.banner-content3 ul li.round2::before,.banner-content3 ul li.round3::before {
       display: none !important;
    }
    .call i {
        font-size: 30px !important;
    }
    .call p {
        font-size: 13px !important;
    }
    .call h5 {
        font-size: 18px !important;
    }
    .call span {
        font-size: 13px !important;
    }
   .blog-details h5{
        font-size: 30px !important;
    }
    .news-post h5,.blog-form h5 {
        font-size: 18px !important;
        margin-bottom: 0 !important;
    }
    .update-news, .update-news-img{
        text-align: center !important;
    }
    .update-news-img::before{
        display: none;
    }
    .banner-content2 h5::before {
        left: 52px !important;
    }
}